

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
/*Custom CSS for Packt Unlimited*/
body {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #f5f5f5;
}
.footer-btn {
  border-radius: 0;
  height: 45px;
  font-weight: 300;
}
.footer-btn .active {
    background-color: #337ab7;
    border-color: #337ab7;
}
a:hover {
  text-decoration: none;
}
.navbar-right-main {
  float: right !important;
  margin-right: -15px !important;
}
.sub-navbar {
  background-color: rgba(255,255,255,0.5) !important;
  border-color: #cacaca !important;
}
.sub-navbar-nav {
  margin: 7.5px -15px !important;
  float: left !important;

}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(0,0,0,0.1);
}
a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}
.white {
  color: #ffffff;
  font-weight: 300;
}
.main-icon {
  height: 30px;
  margin-top: -2px;
}
/*Unlimited Home */
.btn-navigation-group {
  width: 100%;
}
.btn-navigation {
  width: 25%;
  font-weight: 300;
}
.home-body {
  background-color: #dbdcdc;
}
.loaded {
  background-image: url('bg/shattered.png');
  background-attachment: fixed;
}
.playlist-hide {
  font-size: 14px;
  color: #333;
  font-weight: 300;
  text-align: center;
}
.playlist-title {
    font-size: 20px;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}
.personal-growth-holder {
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: -1px;
    background-color: rgba(255,255,255,0.05);
}
.personal-growth-icon {
    color: white;
    font-size: 32px;
    float: left;
    margin-right: 15px;
    margin-top: 14px;
}
.personal-growth-metric {
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.personal-growth-label {
    color: white;
    font-size: 14px;
}
.personal-growth-target {
    color: #bbb;
    font-size: 12px;
    float: right;
    margin-top: 10px;
}
.panel-title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.panel-default {
  background-color: rgba(255,255,255,0.5);
}
.playlist-image {
  float: left;
  margin-right: 20px;
  height: 125px;
  width: auto;
}
.playlist-heading {
  min-height: 148px;
}
.panel-group .panel-footer {
  border-top: 1px solid #ddd;
}
.welcome-text {
  color: #fff;
  font-size: 18px;
  background-color: rgba(255,255,255,0.1);
  padding-bottom: 15px;
  padding-top: 15px;
}
.lang-select-list {
  background-color: rgba(255,255,255,0.5);
}
.lang-select-list-active {
  background-color: rgba(0,0,0,0.1);
}

.mt-20 {
  margin-top: -20px;
}
.home-search {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/*Login Page*/
.login-form-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}
.login-form-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}
.login-tagline {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  display: inherit;
}
.login-tagline-small {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  display: inherit;
}
.upsell-text {
  font-size: 14px;
  color: #fff;
}

/*Sidebar*/
.nav-read-button {
  font-size: 16px;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
#sidebar-wrapper > ul > nav {
  border: none;
  border-radius: 0;
  border-bottom: solid #333a40 1px;
}
.packt-sb-logo-holder {
  position: absolute;
  background: #2c3033;
  bottom: 0;
  width: 250px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.packt-sb-logo {
  margin-right: auto;
  margin-left: auto;
  width: 150px;
}
.login-link  {
  color: #fff !important;
}
.login-link:hover  {
  color: #fff;
}
.login-link:active  {
  color: #fff;
  text-decoration: underline;
}
.locked-msg {
  color: #fff;
  padding: 15px;
  background-color: #333a40;
  border-color: #333a40;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px #333a40;
}
.btn-buy {
  border-radius: 0;
}

/*Title Page Layout*/
.title-page-title {
  margin-top: 0;
}
.title-page-tagline {
  font-size: 16px;
  font-weight: 700;
}
.title-page-img {
  margin-bottom: 20px;
  z-index: 1000;
}
.title-page-about {
  margin-top: 20px;
}
.title-read-button {
  font-size: 18px;
  margin-top: 20px;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.title-container {
  margin-top: 70px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

/*Title Content*/
.next-section {
  margin-top: 40px;
}
.next-section-video {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0;
  border-top: none;
}
.next-section-text {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.next-section-text-video {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.next-section-button {
  margin-top: 5px;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.next-section-button-video {
  margin-top: 10px;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom:10px;
}
.video-panel-group {
  margin-top:-5px;
  margin-bottom:0;
}
.video-panel-default {
  border:none;
  border-radius:0 !important;
  background: #333a40;
}
.panel-title-video {
  color: #fff;
} 
.video-panel-body {
  color: #333;
  background: #fafafa;
  font-size: 16px;
}
.isbn {
  color: #999;
  font-size: 12px;
  text-align: center;
}
.img-upsell {
  max-height: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/*Sidebar*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #FFF;
  background-color: #333a40 !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #333a40 !important;
}
.logout-nav {
  float: right;
  color: #FFF !important;
}
.logout-dropdown {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
}
.logout-link {
  color: #333 !important; 
  font-weight: 300 !important;
}
.logout-link:hover {
  background-color: none !important;
}
.sidebar-nav li a {
  display: inline;
  text-decoration: none;
  color: #fff;
}
.selected-tab {
  background: rgba(255,255,255,0.1);
}
.sidebar-search {
  margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
}

.section-sidebar {
  color: #fff;
  line-height: 15px !important;    
  background-color: #333a40;
  font-size: 13px;
  text-indent: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*Responsive Nav bar*/

.navbar-nav {
  float: none;
  margin: 0;
}
.navbar-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar-right {
   float: none !important;
}
.navbar-right-main {
   float: right !important;
   margin-right: -15px;
}
.navbar-fixed-top {
  position: fixed;
  right: 0px;
  left: 0;
  z-index: 1030;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled .navbar-fixed-top {
  position: fixed;
  right: 250px;
  left: 0;
  z-index: 1030;
}
#wrapper.toggled .hidden-nav-icon {
	display: none;
}
.nav-icon {
	color: #fff;
}
.navbar-default {
  background-color: #333a40;
  border-color: #333a40;
}
.navbar-collapse-icon {
  float: right;
  display: block;
  margin-top: -15px;
  margin-right: -15px;
}
.navbar-title {
	color: #FFF !important;
	float: none;
	text-align: center;
}
.navbar-link {
  margin-left: 10px;
}

/* Containers */
.reader-container {
	margin-top: 50px;
	max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}
   .section {
    font-size: 1em;
  }

.section p {
    margin-bottom: 1.6em;
  }

.viewer-container {
  margin-right: -20px;
  margin-left: -20px;
  margin-top: 31px;
}
.searchawesome {
  font-family: FontAwesome, Ubuntu;
}
.pull-right-sm {
    float: right;
}
.navbar-form.navbar-right-main .input-group {
    width: 100%;
}
.navbar-right-main {
    float: right !important;
    margin-right: -15px !important;
}
.home-container {
  margin-top: 50px;
}

/* Sections */
.section {
	font-family: Merriweather, serif;
	font-weight: 400;
	line-height: 2em;
}
.section-title {
  font-family: Ubuntu, sans-serif;
  font-size: 30px;
  font-weight: 300;
}

/*Sidebar Search Results*/
.search-heading {
  background-color: #767272;
}
.search-result-title {
  line-height: 20px !important;
}
.search-result-img {
  float: left;
  width: 50px;
  margin-right: 15px;
}
.search-text {
  font-size: 12px;
}
@media (max-width:992px) {
  .viewer {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;  
  }
  .viewer-container {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 36px;
  }
  .video-next-pad {
    padding-top: 0;
  }

}
@media(min-width:768px) {
  .home-search {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    font-size: 1.2em;
  }
  #wrapper.toggled .hidden-nav-icon {
    display: block;
  }
  .sub-navbar-nav {
  margin: 0 !important;

}
.modal-sm {
    width: 450px;
}

}

@media(max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #fff !important;
  }
  .logout-link {
  float: right;
  }
}

@media(min-width:992px) {
  .navbar-fixed-top {
	  right: 250px;
	}
	#wrapper.toggled .navbar-fixed-top {
	  right: 0;
	}
	#wrapper.toggled .navbar-brand {
		display: block ;
	}

  .reader-container {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
  }
   .section {
    font-size: 1.1em;
  }

  .section p {
    margin-bottom: 1.6em;
  }
  .title-container {
    margin-right: auto;
    margin-left: auto;
  }
}

@media(min-width:1200px) {
	.navbar-fixed-top {
	  right: 400px;
	}
  .packt-sb-logo-holder {
    width: 400px;
  }
  .packt-sb-logo {
    width: 200px;

  }

  .section {
    font-size: 1.2em;
  }

  .section p {
    margin-bottom: 1.6em;
  }
  .reader-container {
  max-width: 750px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  }
}
