/*Boostrap Overwritten Rules*/
body {
  font-family: 'Lato', Helvetica, sans-serif;
  background: #FDFDFD;
}
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.1;
}
h1, .h1 {
    font-family: 'Montserrat' ,Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}
.nav-pills > li > a {
    border-radius: 0;
}
.btn {
  min-height: 36px;
}
.video-outline {
  border:2px solid #252525 !important;
}
input.form-control {
    font-family: FontAwesome, "Lato", Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
span.input-group-btn button.btn {
    height: 34px;
    padding-top: 8px;
}
.panel-heading {
  padding: 15px !important;
}
.sidebar-title {
  color: white;
  margin-left:  30px;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard-back-btn {
  background: rgba(255,255,255,0.3);
  color: white;
}
.dashboard-back-btn.lg {
  width: 175px;
}
@media(min-width:1400px) {
  .dashboard-back-btn.lg {
    width: 220px;
  }
  .jumbotron.landingheading h1 {
  font-size: 48px !important;
  }
}
/*Boostrap Overwritten Rules END*/

/* Course Search Styles */
.search-text. {
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 0px;
}
.search_results_show {
    color: white;
}
.search_results_show a {
    color: white;
}
/* Course Search Styles END */

/* Top Nav Bar Styles */
.brand-logo {
  color: #677280;
  width: 200px;
  margin-left: -1px;
  float: left;
  text-align: center;
  height: 64px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.brand-logo:hover,
.brand-logo:focus {
  text-decoration: none;
  color: #677280;
  background: rgba(100,100,100,0.1);
}
.brand-logo img {
  height: 28px;
  margin-top: 4px;
  margin-left: -10px;
}
.navbar-avatar {
  height: 44px;
}
.navbar-avatar-link {
  padding: 10px !important;
}
@media(min-width:1400px) {
  .brand-logo {
  width: 250px;
  }
}
/* Jumbotron Header Styles */

.jumbotron.heading .btn {
  margin-top: 5px;
}
.img-product-header {
    float: right;
    height: 90px;
    margin-right: 30px;
    border: 1px solid rgba(255,255,255,0.2);
    margin-top: 15px;
}
.jumbotron.heading {
    padding-bottom: 15px;
    padding-top: 6px;
    background: #F5F5F5;
/*    background-image: url('images/sidebar.png');
*/    background-repeat: no-repeat;
    background-position: right;
    color: white;
    border-bottom: 2px solid #DDDDDD;
}
.jumbotron.landingheading {
    padding-bottom: 15px;
    padding-top: 79px;
    background: #424242;
    background-image: url('images/bg.png');
    background-size: cover;
    color: white;
}
.jumbotron.landingheading img {
    margin-bottom: -15px;
}
.jumbotron.heading h1 {
  font-weight: 100;
  font-size: 24px;
  color: #333;
  margin-top: 15px;
  margin-bottom: 0px;
}
.jumbotron.landingheading h1 {
  font-weight: 100;
  font-size: 38px;
  color: white;
}
.jumbotron.landingheading h1 span{
  color: #FFAB39;
}
.jumbotron.landingheading h3 {
  font-weight: 100;
  font-size: 24px;
  color: white;
}
.jumbotron p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}
.jumbotron ol {
    background: none;
    padding-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
}
.jumbotron ol>li {
      color: rgba(0,0,0,0.7) !important;
}
.jumbotron ol a:hover,.jumbotron ol a:focus {
    text-decoration: none;
}
.jumbotron ol a {
    color: #333;
}
.jumbotron ul a {
    color: #333;
}
.jumbotron .progress-bar-success:last-child.progress-bar:before {
    background-color: rgba(199,231,200,0.3);
}
.jumbotron .progress {
  background: none;
}
.jumbotron ol .skills-link a {
    color: #F76D35;
}
.jumbotron ol .skills-link {
    color: #fff !important;
    font-size: 16px;
}
@media(min-width:768px) {
    .jumbotron h1 {
      font-weight: 100;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .jumbotron.heading {
    background-image: none;
  }
}
/* Jumbotron Header Styles END */

/* Landing Page Custom Styles */
.pricing-features {
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 15px;
}
.panel-pricing-featured {
  border: 5px solid #ffab39;
  border-radius: 4px;
}
.panel-pricing-featured .panel-heading {
  background-color: #ffab39;
  border-radius: 0;
}
.panel-pricing-featured .panel-heading h3 {
  color: white;
}
.panel-pricing {
  border: 5px solid #333;
  border-radius: 4px;
}
.panel-pricing .panel-heading {
  background-color: #333;
  border-radius: 0;
}
.panel-pricing .panel-heading h3 {
  color: white;
}
.navbar-inverse.landing {
    background-color: rgba(0,0,0,0.8);
}
b.landing {
  color: #eb711e;
}
/* Landing Page Custom Styles END */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none;
    width: 50%;
}

.cover-image-thumb {
  float: left;
    margin-right: 10px;
    height: 55px;
}
.list-name {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 25px;
}
.concat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lg-title {
  font-size: 14px;
  font-weight: 500;
}
.mobile-nav-icon {
  padding: 10px;
}
.welcome-copy p {
  font-size: 14px;
  line-height: 24px;
}
.welcome-copy h3 {
  font-weight: 500;
}
.welcome-copy li {
  line-height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.mobile-title {
  margin-top: -25px;
}
.sidebar-nav>.nav-tabs>li.active {
  background: none;
}
.sidebar-nav>li>h5 {
  color: #333;
  font-weight: 500;
  font-size: 16px;
}
.tabbed-content {
  border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-top: -1px;
}
.toggle-nav {
    font-size: 18px;
    margin-left: 0px;
}
.course-listing {
  margin-bottom: 0px;
}
.radio, .checkbox {
    margin-top: 0px;
}
.navbar-default .in .search-nav-collapse {
  height: 58px;
}
.navbar-inverse .in .search-nav-collapse {
  height: 58px;
}
.navbar-inverse .in .search-nav-collapse .input-group {
  width:100%;
}
.logout-wrapper {
  padding: none;
}
/* Login Modal */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-footer {
  text-align: center;
}
.modal-content {
  border: 5px solid rgba(220, 220, 220, 0.7);
}
/*Custom Reader Style*/
.reader-container p, .reader-container ul {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8em;
    margin-bottom: 30px
}
.reader-container a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.reader-container table {
    margin-bottom: 20px;
}
.reader-container .blockquote td, .reader-container .blockquote th {
    border: none;
    padding: 0;
}
.reader-container .dropdown-menu li a {
    font-family: Roboto, Helvetica, sans-serif;
}
.panel > .list-group:first-child span:not(:first-child) .list-group-item:first-child{
    border-top: 1px solid #dddddd;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.mediaobject {
    margin-top: 30px;
    margin-bottom: 30px
}
.informalexample {
    margin-top: 30px;
    margin-bottom: 30px
}
.login-modal {
    max-width: 350px;
}
.error-modal {
    max-width: 350px;
}
/* Login Modal */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.search-preorder-title {
    width: 100%;
    display: inline-block;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.video-panel-group, .next-section-video {
    display: none;
}
.book-page {
  background: white;
}

.book-content .h1, .book-content .h2, .book-content .h3,.book-content h1,.book-content h2,.book-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-footer {
    text-align: center;
}

/* Logged out section */
.fade-out {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 150px 0;
    background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
    background-image: -moz-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
    background-image: -o-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
    background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
    background-image: -ms-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
}

.reader-container h2.title {
  font-weight: 100;
  font-size: 36px;
}
.reader-container h3.title {
  font-weight: 500;
  font-size: 28px;
  color: #456F9E;
  margin-top: 30px;
  margin-bottom: 30px;
}
.orderedlist {
  background: #f5f5f5;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 1px;
    margin-bottom: 30px;
    border-left: solid 15px #E0E0E0;
    border-radius: 4px;

}
.orderedlist ol{
  font-size: 18px;
    font-weight: 700;
    border: none;
}
.orderedlist pre{
  font-weight: 300;
}
.orderedlist ol li p{
  
}
.itemizedlist {
  background: #f5f5f5;
    padding-top: 25px;
    border-left: solid 15px #456F9E;
    padding-bottom: 15px;
    margin-bottom: 30px;
    padding-right: 25px;
    border-radius: 4px;
}
.itemizedlist ul {

}

.itemizedlist ul li{
  list-style-type: none !important;
}
.itemizedlist ul li p{
  font-family: 'Roboto', Helvetica, sans-serif !important;
}
.itemizedlist ul li:before{
  font-family: FontAwesome;
    content: "\f138";
    font-size: 28px;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
    color: #456F9E;
}

.tip {
  background: #456F9E;
  border-left: solid 15px #305884;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 40px;
  border-radius: 4px;
}
.tip h3.title{
  color: white!important;
  font-weight: 100;
  font-size: 28px;
  display: inline-block;
  margin-bottom: 10px;
  background: #456F9E;
}
.tip h3:before {
  font-family: FontAwesome;
    content: "\f0eb";
    display: inline-block;
    padding-right: 10px;
    font-size: 42px;
    margin-top: -2px;
    vertical-align: middle;
}
.tip p {
  color: white;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em !important;
  line-height: 1.7em !important;
  background: #456F9E;
}
.tip p a {
  color: #fff;
  text-decoration: underline;
  background: #456F9E;
}
code.literal {
  padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.note {
  background: #459E6D;
  border-left: solid 15px #30845E;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 40px;
  border-radius: 4px;
}
.note h3.title {
  color: white;
  font-weight: 100;
  font-size: 28px;
  display: inline-block;
  margin-bottom: 15px;
  background: #459E6D;

}
.note h3:before {
  font-family: FontAwesome;
    content: "\f24a";
    display: inline-block;
    padding-right: 10px;
    font-size: 42px;
    margin-top: -2px;
    vertical-align: middle;
}
.note p {
  color: white;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em !important;
  line-height: 1.7em !important;
  background: #459E6D;

}

.note p a {
  color: #fff;
  text-decoration: underline;
}
.blockquote {
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 30px;
}
blockquote {
    background: #51A796;
    border-left: 15px solid #3C8C7C;
}
blockquote p {
  background: #51A796;
  color: white;
    font-weight: 300 !important;
    font-style: italic;
    line-height: 1.8em !important;
    padding: 15px;
}
.emphasis {
}
.emphasis em {
  font-style: normal;
  font-weight: 600;
  font-size

}
.informaltable{
  margin-bottom: 30px;
}
.informaltable table{
  width: 100%;
  border: 3px solid #456F9E !important;

}
.informaltable table thead{
}
.informaltable table thead tr{
    background: #456F9E;

}
.informaltable table thead th{
  padding: 10px;
  border: none;
    padding: 5px;
}
.informaltable table thead th p{
  margin: 0px;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: white;
  font-weight: 300;
  font-size: 16px;
  margin-left: 10px;
}
.informaltable table tbody{
  border: 3px solid #456F9E;
}
.informaltable table tbody tr{
  background: #fff;
}
.informaltable table tbody td{
  padding: 10px;
  border: 1px solid #ECECEC;
    padding: 5px;
}
.informaltable table tbody td p{
  margin: 0px;
  font-family: 'Roboto', Helvetica, sans-serif;
  margin-left: 5px;
}
.informaltable table tbody td p code.literal {
  margin-left: 0;
}
/*Section Complete on titles*/
.completed-section {
/*  border-left: 5px solid #F9953D;
*/}
.simple-feefo-logo {
  height: 10px;
  margin-top: -4px;
  width: auto;
  margin-left: 5px;
}
.white-feefo-logo {
  height: 13px;
  margin-top: -4px;
  width: auto;
  margin-left: 5px;
}
@media(min-width:768px) {
  .reader-container p {
    font-size: 1.6rem;
    line-height: 1.8em;
    margin-bottom: 40px
  }
}
@media(min-width:992px) {
  /*Extending Search Bar on devices over 992px wide*/
  .navbar-form .form-group .form-control:focus,.navbar-form .form-group .form-control:active {
    width: 350px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar-form .form-group .form-control {
    width:200px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }
}

/* New CSS Rules for Skills Platform */

.clickable:hover {
    cursor:pointer 
}
.clickable {
  cursor:pointer;
}

.top-skillcard {
    padding:  25px;
    padding-left: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.breadcrumb.title-buttons > li + li:before {
    padding: 0 5px;
    color: #ccc;
    font-family: fontAwesome;
    content: "\00a0";
}
.inprogress {
  opacity: 0.3;
}
.tech-icon {
    height: 80px;
    margin-right: 10px;
    margin-left: -5px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.panel-group .panel-footer.card-footer {
    background-color: #FAB040;
    padding: 5px;
}
.card-desc {
  padding: 20px;
  font-size: 16px;
}
.tech-icon.drop {
  height: 85px;
}
.tech-icon-sm {
  height: 70px;
  width: auto;
  padding: 5px;
}
.img-thumbnail.tech-icon-sm,.img-thumbnail.tech-icon {
  padding: 0px;
}
.card-heading {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
#accordion .panel-body {
  background-color: #3A3939;
  background-image: url('images/cardbg.png');
  background-size: cover;
  color: white;
}
#accordion .panel-body h5{
  color:#FFF;
}
#accordion .list-group li {
  border: 1px solid #484747;
  background: #222222;
}
#accordion .list-group h1 {
  color:#FAB040;
}
.card-header {
  color: white !important;
  background-color: #2C2C2C !important;
  background: url('images/card-header.png');
  background-repeat: no-repeat;
  background-position: right;
}
.plan-card-header {
  color: white !important;
  background-color: #2C2C2C !important;
  background: url('images/plan-card-header.png');
  background-repeat: no-repeat;
  background-position: right;
}
.sm-card-heading {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 5px;

}
.dashboard-skillcard li {
  font-size: 14px;
  list-style-position: outside;
  line-height: 1.8em;
  background: url(images/bullet.png) no-repeat left top;
  padding: 0px 0px 15px 35px;
  list-style: none;
  margin: 0;
}
.learning-points {
  padding-left: 15px;
}
.learning-skillcard ul {
  padding-left: 10px;
}
.left-skillcard ul {
  padding: 20px;
  padding-bottom: 0px;
}
/* Product Listing */
.list-group h1 {
  font-size: 16px;
  margin: 0px 5px 5px 5px;
}
.img-product-list {
  float: left;
  height: 170px;
  margin-right: 15px;
}
.title-duration {
    font-size: 11px;
    color: #8c8c8c;
}
.list-group li:first-child {
  border-radius: 0;
}
.list-group li:last-child {
  border-radius: 0;
}
.list-group {
  border-radius: 0;
}
.survey-number {
  color: #FAB040;
}
/* Product Listing END */

