/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    background: url('images/bg.png');
    font-family: 'Lato', Helvetica, sans-serif;
    background-size: cover;
}
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.1;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.card-container-lg.card {
    max-width: 850px;
    padding: 40px 40px;
}
.login-logo {
    height: 45px;
}

.panel-job {
    min-height: 155px;
}
.job-link {
    color:inherit;
    text-decoration:none;
}
.job-link:hover, .job-link:focus, .job-link:active, .job-link:hover h6, .job-link:focus h6, .job-link:active h6{
    color:#F76D35;
    text-decoration:none;
}
/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.forgot-password {
    font-size: 12px;
}