<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learning C++ by Creating Games with UE4 - Chapter 3. Looping</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/bootstrap-xl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- Devicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- Prism -->
    <link rel="stylesheet" href="css/prism.css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Lato:400,500,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="language-markup">

  

    <div id="wrapper">
 
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <div class="list-group" id="sidebar-nav" role="tablist" aria-multiselectable="true">
              <li class="nav-logo "><a href="dashboard.html" class="sidenav-menu-holder"><span class="sidenav-menu"><img src="images/mapt-logo.png" class=""></span><span class="pull-left mr5"></span></a>    </li>
              <form class="col-sm-12 mb15 pl25 pr25">
                <input type="text" class="form-control" placeholder="&#xf002;  Search for a course...">
              </form>
              <div class="clearfix"></div>
              <li class=""><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="sidenav-menu-holder"><span class="sidenav-menu">Skills</span><span class="pull-left mr5"></span></a>    </li>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <li class="sub-nav"><a href="dashboard.html" class="sidenav-menu-holder"><span class="sidenav-menu">My Skill Plan</span><span class="pull-left mr5">3</span></a>    </li>
                <li class="sub-nav"><a href="dashboard-profile.html" class="sidenav-menu-holder"><span class="sidenav-menu">Skill Cards </span><span class="pull-left mr5">6</span></a>    </li>
                <li class="sub-nav"><a href="usage.html" class="sidenav-menu-holder"><span class="sidenav-menu">Progress</span><span class="pull-left mr5"></span></a>    </li>
                <li class="sub-nav"><a href="roles.html" class="sidenav-menu-holder"><span class="sidenav-menu">Skill Plans </span></a>    </li>
              </div>
              <li class="active"><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="sidenav-menu-holder"><span class="sidenav-menu">Courses</span><span class="pull-left mr5"></span></a>    </li>
              <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <li class="sub-nav"><a href="library.html" class="sidenav-menu-holder"><span class="sidenav-menu">Library</span><span class="pull-left mr5"></span></a>    </li>
                <li class="sub-nav active"><a href="dashboard-bookmark.html" class="sidenav-menu-holder"><span class="sidenav-menu">Bookmarks</span><span class="pull-left mr5">8</span></a>    </li>
                <li class="sub-nav"><a href="dashboard-collection.html" class="sidenav-menu-holder"><span class="sidenav-menu">Saved</span><span class="pull-left mr5">3</span></a>    </li>
                <li class="sub-nav"><a href="dashboard-owned.html" class="sidenav-menu-holder"><span class="sidenav-menu">Purchased </span><span class="pull-left mr5">6</span></a>    </li>
              </div>
              <li class=""><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="sidenav-menu-holder"><span class="sidenav-menu">My Account</span><span class="pull-left mr5"></span></a>    </li>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <li class="sub-nav"><a href="account-details.html" class="sidenav-menu-holder"><span class="sidenav-menu">Account Details</span><span class="pull-left mr5"></span></a>    </li>
                <li class="sub-nav"><a href="account-subscription.html" class="sidenav-menu-holder"><span class="sidenav-menu">Subscriptions</span><span class="pull-left mr5"></span></a>    </li>
                <li class="sub-nav"><a href="account-licences.html" class="sidenav-menu-holder"><span class="sidenav-menu">Licenses </span></a>    </li>
              </div>
              <li class=""><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" class="sidenav-menu-holder"><span class="sidenav-menu">Help</span><span class="pull-left mr5"></span></a>    </li>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <li class="sub-nav"><a href="help.html" class="sidenav-menu-holder"><span class="sidenav-menu">FAQs</span><span class="pull-left mr5"></span></a></li>
              </div>
              <li class=""><a href="dashboard-lo.html" class="sidenav-menu-holder"><span class="sidenav-menu">Logout</span><span class="pull-left mr5"></span></a> </li>
            </div>
          </ul>
        </div>

        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper" class="">
            <div id="book-wrapper" class="container-fluid">               
                <div class="row">
                            <div class="col-sm-12 col-lg-offset-1 col-lg-10 mt10">
                             <a class="visible-sm visible-xs" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars fa-2x mr5"></i></a>
                            <h3>My Bookmarks</h3>
                            <h6 class="mt5">Return to the sections you have bookmarked</h6>

                            <hr>
                          <div ng-show="dashboard_counts.bookmarks > 0" class="panel panel-default">
                            <ul class="list-group">
                                    <a class="list-group-item disabled list-name ng-scope">
                                      <img src="images/book1.jpg" class="img-product-list hidden-xs">
                                          <h1>Practical Machine Learning</h1>
                                          <p class="mb5">By Sunila Gollapudi</p>
                                            <p class="mb5"><small>Modernize existing Python code and plan code migrations to Python using this definitive guide</small></p>
                                          
                                          
                                          <small ng-if="fivePopular.field_date_of_publication[0].value" class=" mr10 ng-binding ng-scope mt10">Jan 2016</small>
                                          <small class=" title-duration ng-binding mt10"><i class="fa fa-clock-o mr5"></i>14 hours 02 minutes</small>
                                          <br>
                                          <div class="clearfix">
                                          </div>
                                      </a>
                                    <!-- ngRepeat: (k, v) in value.bookmarks --><a ng-repeat="(k, v) in value.bookmarks" href="/packtlib/video/test/9781783554157/5690/5691/Enabling+the+Django+Debug+Toolbar" class="list-group-item list-name ng-scope">
                                        <span ng-show="v.section_title"><strong ng-bind-html="v.section_title" class="ng-binding">Enabling the Django Debug Toolbar</strong></span>
                                    </a><!-- end ngRepeat: (k, v) in value.bookmarks --><a ng-repeat="(k, v) in value.bookmarks" href="/packtlib/video/test/9781783554157/5685/5687/Changing+Our+Models" class="list-group-item list-name ng-scope">
                                        <span ng-show="v.section_title"><strong ng-bind-html="v.section_title" class="ng-binding">Changing Our Models</strong></span>
                                    </a><!-- end ngRepeat: (k, v) in value.bookmarks --><a ng-repeat="(k, v) in value.bookmarks" href="/packtlib/video/test/9781783554157/5685/5688/Creating+a+Custom+Profile" class="list-group-item list-name ng-scope">
                                        <span ng-show="v.section_title"><strong ng-bind-html="v.section_title" class="ng-binding">Creating a Custom Profile</strong></span>
                                    </a><!-- end ngRepeat: (k, v) in value.bookmarks --><a ng-repeat="(k, v) in value.bookmarks" href="/packtlib/video/test/9781783554157/5685/5686/The+User’s+Model" class="list-group-item list-name ng-scope">
                                        <span ng-show="v.section_title"><strong ng-bind-html="v.section_title" class="ng-binding">The User’s Model</strong></span>
                                    </a><!-- end ngRepeat: (k, v) in value.bookmarks -->
                                </span><!-- end ngRepeat: (key, value) in myBookmarks --><span ng-repeat="(key, value) in myBookmarks" class="ng-scope">
                                    <a class="list-group-item disabled list-name ng-scope">
                                      <img src="images/book3.jpg" class="img-product-list hidden-xs">
                                          <h1>Advanced Machine Learning</h1>
                                          <p class="mb5">By Sunila Gollapudi</p>
                                            <p class="mb5"><small>Modernize existing Python code and plan code migrations to Python using this definitive guide</small></p>
                                          
                                          
                                          <small ng-if="fivePopular.field_date_of_publication[0].value" class=" mr10 ng-binding ng-scope mt10">Jan 2016</small>
                                          <small class=" title-duration ng-binding mt10"><i class="fa fa-clock-o mr5"></i>14 hours 02 minutes</small>
                                          <br>
                                          <div class="clearfix">
                                          </div>
                                      </a>
                                    <!-- ngRepeat: (k, v) in value.bookmarks --><a ng-repeat="(k, v) in value.bookmarks" href="/packtlib/book/test/9781783983261/4" class="list-group-item list-name ng-scope">
                                        <span ng-show="v.section_title"><strong ng-bind-html="v.section_title" class="ng-binding">Chapter 4: Statistical Concepts for Predictive Modelling</strong></span>
                                    </a><!-- end ngRepeat: (k, v) in value.bookmarks -->
                                </span><!-- end ngRepeat: (key, value) in myBookmarks --><span ng-repeat="(key, value) in myBookmarks" class="ng-scope">
                                    <a class="list-group-item disabled list-name ng-scope">
                                      <img src="images/book2.jpg" class="img-product-list hidden-xs">
                                          <h1>Reactive JavaScript</h1>
                                          <p class="mb5">By Sunila Gollapudi</p>
                                            <p class="mb5"><small>Modernize existing Python code and plan code migrations to Python using this definitive guide</small></p>
                                          
                                          
                                          <small ng-if="fivePopular.field_date_of_publication[0].value" class=" mr10 ng-binding ng-scope mt10">Jan 2016</small>
                                          <small class=" title-duration ng-binding mt10"><i class="fa fa-clock-o mr5"></i>14 hours 02 minutes</small>
                                          <br>
                                          <div class="clearfix">
                                          </div>
                                      </a>
                                    <!-- ngRepeat: (k, v) in value.bookmarks --><a ng-repeat="(k, v) in value.bookmarks" href="/packtlib/book/test/9781785281341/pref05" class="list-group-item list-name ng-scope">
                                        <span ng-show="v.section_title"><strong ng-bind-html="v.section_title" class="ng-binding">Preface</strong></span>
                                    </a><!-- end ngRepeat: (k, v) in value.bookmarks -->
                                </span><!-- end ngRepeat: (key, value) in myBookmarks -->
                            </ul>
                        </div>
                        </div>
                  </div><!-- row -->
			</div><!-- /#book-wrapper -->
		</div><!-- /#page-content-wrapper -->
	</div><!-- /#wrapper -->
    

    <!-- JAVASCRIPT BLOCKS -->

    <!-- jQuery Script-->
    <script src="js/jquery.js"></script>
    <!-- Syntax Highlighting Script -->
    <script src="js/prism.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Sidebar Toggle Script -->
    <script src="js/simple-sidebar.js"></script>
    <script src="js/sidenav-accordion.js"></script>

</body>

</html>
