<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learning C++ by Creating Games with UE4 - Chapter 3. Looping</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/annotator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/bootstrap-xl.css" rel="stylesheet">

    <!-- Prism -->
    <link rel="stylesheet" href="css/prism.css">

    <!-- JW PLayer -->
    <script src="http://jwpsrv.com/library/wtlhcMn8EeK6QxIxOQulpA.js"></script>
    <script>jwplayer.key="7X7gEquLPDCl3Fb0QHfeLw6uigKrZOv2vYmh0xeIwlM=";</script>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Lato:400,500,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="language-markup">

  

    <div id="wrapper">
 <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <div class="list-group" id="sidebar-nav" role="tablist" aria-multiselectable="true">
              <li><a href="dashboard.html" class="sidenav-menu-holder back-btn"><span class="sidenav-menu">Back</span><span class="pull-left mr5"><i class="fa fa-chevron-left"></i></span></a>    </li>
              <li><a href="front-page.html" class="sidenav-menu-holder"><span class="sidenav-menu"><img src="images/cover-video.png" class="cover-image"></span><span class="pull-left mr5"></a>    </li>
              <div class="clearfix"></div>
              <li><a href="#" class="sidenav-menu-holder"><div class="section-name"><i class="fa fa-bookmark mr5"></i> Bookmarks (0)</div></a>    </li>
              <li class=""><a href="#" class="sidenav-menu-holder"><div class="section-name">Preface</div></a> </li>
              <li class=""><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="sidenav-menu-holder"><div class="section-name">1. Getting Started</div></a>    </li>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <li class="sub-nav"><a href="#"><div class="section-name">Chapter 1. Getting Started</div></a></li>
                        <li class="sub-nav"><a href="#"><div class="section-name">Adding App Modules</div><div class="section-complete"><i class="fa fa-check"></i></div></a></li>
                        <li class="sub-nav"><a href="#"><div class="section-name">The app controller</div></a></li>
                        <li class="sub-nav"><a href="#"><div class="section-name">Adding the next exercise in tandem with everything</div><div class="section-complete"><i class="fa fa-check"></i></div></a></li>
                        <li class="sub-nav"><a href="#"><div class="section-name">Understanding responsive design priciples</div><div class="section-complete"><i class="fa fa-check"></i></div></a></li>
                        <li class="sub-nav"><a href="#"><div class="section-name">Migrating to Angular 2</div><div class="section-complete"><i class="fa fa-check"></i></div></a></li>
                        <li class="sub-nav"><a href="#"><div class="section-name">Summary</div><div class="section-complete"><i class="fa fa-check"></i></div></a></li>
              </div>
              <li class=""><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="sidenav-menu-holder"><div class="section-name">2. Building our first application</div></a>    </li>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <li class="sub-nav"><a href="#"><div class="section-name">Chapter 2. Learning about x and y</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding App Modules</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">The app controller</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding the next exercise in tandem with everything</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Understanding responsive design priciples</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Migrating to Angular 2</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Summary</div></a></li>
              </div>
              <li class="active"><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="sidenav-menu-holder"><div class="section-name">3. More AngularJS Goodness</div></a>    </li>
              <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <li class="sub-nav"><a href="#"><div class="section-name">Chapter 3. Learning about x and y</div></a></li>
                <li class="sub-nav active"><a href="#"><div class="section-name">Downloading and Installing Linux</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">The app controller</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding the next exercise in tandem with everything</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Understanding responsive design priciples</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Migrating to Angular 2</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Summary</div></a></li>
              </div>
              <li class=""><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" class="sidenav-menu-holder"><div class="section-name">4. Building Personal Trainer</div></a>    </li>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <li class="sub-nav"><a href="#"><div class="section-name">Chapter 3. Learning about x and y</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding App Modules</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">The app controller</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding the next exercise in tandem with everything</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Understanding responsive design priciples</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Migrating to Angular 2</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Summary</div></a></li>
              </div>
              <li class=""><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" class="sidenav-menu-holder"><div class="section-name">5. Adding Data Persistance and other </div></a>    </li>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <li class="sub-nav"><a href="#"><div class="section-name">Chapter 3. Learning about x and y</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding App Modules</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">The app controller</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding the next exercise in tandem with everything</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Understanding responsive design priciples</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Migrating to Angular 2</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Summary</div></a></li>
              </div>
              <li class=""><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix" class="sidenav-menu-holder"><div class="section-name">6. Working with Directives</div></a>    </li>
              <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <li class="sub-nav"><a href="#"><div class="section-name">Chapter 3. Learning about x and y</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding App Modules</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">The app controller</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding the next exercise in tandem with everything</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Understanding responsive design priciples</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Migrating to Angular 2</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Summary</div></a></li>
              </div>
              <li class=""><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" class="sidenav-menu-holder"><div class="section-name">7. Testing the AngularJS Application</div></a>    </li>
              <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <li class="sub-nav"><a href="#"><div class="section-name">Chapter 3. Learning about x and y</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding App Modules</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">The app controller</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Adding the next exercise in tandem with everything</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Understanding responsive design priciples</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Migrating to Angular 2</div></a></li>
                <li class="sub-nav"><a href="#"><div class="section-name">Summary</div></a></li>
              </div>
              <li class=""><a href="#" class="sidenav-menu-holder"><div class="section-name">Appendix A:Index</div></a> </li>
            </div>
          </ul>
        </div>

        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper" class="book-page ng-scope">
            <a class="hidden-xs hidden-sm" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars fa-2x mr5"></i></a>
            <a class="visible-xs visible-sm mobile-menu-toggle" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars fa-2x mr5 "></i></a>
                
                <div id="book-wrapper" onload="finishLoad()" ng-include="" src="views.book" class="ng-scope container-fluid">
                    <div class="reader-container col-sm-12 col-xl-offset-2 col-xl-8 col-lg-offset-1 col-lg-10">
                        <div class="btn-group pull-right mt15 mb30" role="group">
                            <button class="btn btn-default">
                            <i class="fa fa-bookmark-o fa-lg"></i>
                            <span class="hidden-xs hidden-sm ml5">Bookmark</span></button>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                    <i class="fa fa-shopping-cart fa-lg"></i>
                                    <span class="hidden-xs hidden-sm ml5"> Buy eBook for $21.99</span>
                                    <span class="hidden-xs hidden-sm caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="big-data-and-business-intelligence/python-machine-learning" target="_self">Buy from Store</a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#claimModal">Claim using Token</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="disabled">
                                        <a href="#">You have <strong>3</strong> Token(s) Remaining</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn btn-default hidden-xs">
                            <i class="fa fa-file fa-lg"></i>
                            <span class="hidden-xs hidden-sm ml5">Code Files</span></button>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cog fa-lg no-text-padding"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="disabled"><a class="disabled text-center"><b>Nightmode</b></a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="" target="_self">Enable</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="disabled"><a class="disabled text-center"><b>Font size (rem)</b></a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="" target="_self">1.5</a></li>
                                    <li><a href="" target="_self">1.6</a></li>
                                    <li><a href="" target="_self">1.7</a></li>
                                    <li><a href="" target="_self">1.8</a></li>
                                    <li><a href="" target="_self">1.9</a></li>
                                    <li><a href="" target="_self">2.0</a></li>
                                </ul>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-share fa-lg no-text-padding"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="disabled"><a href="#" class="disabled text-center"><b>Share</b></a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" ng-click="facebookShare();">Facebook</a></li>
                                    <li><a href="mailto:?Subject=Packt Book: Python Machine Learning&amp;body=Packt Book link: https://www.packtpub.com/packtlib/book/Big-Data-and-Business-Intelligence/9781783555130" target="_top" ng-click="emailShare();">Email</a></li>
                                    <li><a href="#" ng-click="twitterShare();">Twitter</a></li>
                                    <li><a href="#" ng-click="redditShare();">Reddit</a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="clearfix"></div>
                            
                        <div style="position:relative;" class="book-content" ng-non-bindable="">
                                <div class="packtlib-version v2">
                                    <h2 class="title">Downloading and Installing Linux</h2><hr>

                                  <div id="myElement"></div>
                    <script type="text/javascript">
                        jwplayer("myElement").setup({
                            file: "videos/video.mp4",
                            width: "100%",
                            displaytitle: "Downloading and Installing Linux",
                            aspectratio: "16:9",
                            title: "Downloading and Installing Linux",
                            displaytitle: true,
                            skin: "glow",
                        });
                    </script> 
                    <div class="panel panel-default mt20">
                      <div class="panel-body">
                        <p>Make your code more readable for yourself and others using Python's communal coding standard.</p>
                        <ul>
                        <li>Spaces versus tabs</li>
                        <li>Understanding the code layout</li>
                        <li>Using naming conventions to perfection</li>
                        </ul>
                      </div>
                    </div>
                                  
          
                                </div> </div>
                                    
                    
                                    
                        
                    <div class="row"> 
                        <hr>      
                    
                            <span class="hidden-xs"><h4 class="pull-left"><strong>Up Next: </strong>Routing in Django</h4><a href="#" class="btn btn-primary pull-right btn-lg">Next Section</a></span>
                            <span class="visible-xs"><a href="for-loop.html" class="btn btn-primary btn-block btn-lg">Next Section</a></span>
                    </div>
                    <div class="row"> 
                        <hr>
                    </div>

</div></div>
                                        <div class="text-center col-sm-12 mb20">
                        <small>ISBN 9781783983704 © Packt Publishing Limited. All Rights Reserved </small>
                    </div>
                </div>
</div>
</div>

    </div>
    <!-- /#wrapper -->

    <!-- JAVASCRIPT BLOCKS -->

    <!-- jQuery Script-->
    <script src="js/jquery.js"></script>
    <!-- Syntax Highlighting Script -->
    <script src="js/prism.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Annotator Script -->
    <script src="js/annotator.min.js"></script>
    <script type="text/javascript">
    var app = new annotator.App();
    app.start();
    </script>
    <!-- Sidebar Toggle Script -->
    <script src="js/simple-sidebar.js"></script>

</body>

</html>
