<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
    <link rel="apple-touch-icon" sizes="57x57" href="/packtlib-nv/images/apple-icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/packtlib-nv/images/apple-icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/packtlib-nv/images/apple-icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/packtlib-nv/images/apple-icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/packtlib-nv/images/apple-icons/apple-icon-180x180.png">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <title>Mapt - Python Developer Career Plan</title>
    <!-- Bootstrap Core CSS -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/bootstrap-xl.css" rel="stylesheet">
    <!-- Devicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <!-- Prism -->
    <link rel="stylesheet" href="css/prism.css">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Lato:400,500,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="mapt">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <div class="list-group" id="sidebar-nav" role="tablist" aria-multiselectable="true">
                    <li class="nav-logo "><a href="dashboard.html" class="sidenav-menu-holder"><span class="sidenav-menu"><img src="images/logo.png" height="30px" class=""></span></a> </li>
                    <form class="col-sm-12 mb15 pl25 pr25">
                        <input type="text" class="form-control" placeholder="&#xf002; Search for a topic..."> </form>
                    <div class="clearfix"></div>
                    <li class=""><a href="dashboard.html" class="sidenav-menu-holder"><span class="sidenav-menu">Dashboard</span></a> </li>
                    <li class="active"><a href="discover.html" class="sidenav-menu-holder"><span class="sidenav-menu">Discover</span><span class="pull-left mr5"></span></a> </li>
                    <li class=""><a href="help.html" class="sidenav-menu-holder"><span class="sidenav-menu">Help</span><span class="pull-left mr5"></span></a> </li>
                    <li class=""><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="sidenav-menu-holder"><span class="sidenav-menu">Account</span><span class="pull-left mr5"></span></a> </li>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <li class="sub-nav"><a href="account-details.html" class="sidenav-menu-holder"><span class="sidenav-menu">Account Details</span><span class="pull-left mr5"></span></a> </li>
                        <li class="sub-nav"><a href="account-subscription.html" class="sidenav-menu-holder"><span class="sidenav-menu">Subscriptions</span><span class="pull-left mr5"></span></a> </li>
                        <li class="sub-nav"><a href="account-licences.html" class="sidenav-menu-holder"><span class="sidenav-menu">Licenses </span></a> </li>
                        <li class="sub-nav"><a href="dashboard-lo.html" class="sidenav-menu-holder"><span class="sidenav-menu">Logout</span><span class="pull-left mr5"></span></a> </li>
                    </div>
                    <li class=""> <a href="https://www.packtpub.com" class="sidenav-menu-holder"><span class="sidenav-menu logo-text">Powered by <img src="images/packt-orange.png" target="_blank" class="packt-logo"></span><span class="pull-left mr5"></span></a> </li>
                </div>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper" class="" ng-controller="maptController"> <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars fa-2x mr5"></i></a>
            <div id="book-wrapper" class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-offset-1 col-lg-10 mt10">
                        <div class="page-title">
                            <h3>Python Developer</h3>
                            <h6>A career plan is a playlist of eBooks and videos to guide you through the required skills for your chosen career.
                                </h6>
                            <ol class="breadcrumb">
                                <li><a href="discover.html">Discover</a></li>
                                <li><a href="careers.html">Career Plans</a></li>
                                <li class="active">Python Developer</li>
                            </ol>
                            <hr> </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 col-xl-2 col-lg-offset-1">
                        <div class="panel panel-card">
                            <div class="panel-icon"> <i class="devicon-python-plain"></i> </div>
                            <div class="panel-body pt0">
                                <h5 class="text-center mt5 mb5">Career</h5> </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-8">
                        <p class="mb10"> {{(mydata.me.plan.cards | filter:filterCardsCompleted).length}}/{{mydata.me.plan.cards.length}} Skill Cards Completed</p>
                        <div class="progress mt10 mb20">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"> <span class="sr-only">30% Complete</span> </div>
                        </div>
                        <div class="alert alert-info">
                            <p><i class="fa fa-info-circle mr5"></i> This Career Plan has been informed by <b>4,200</b> Python Developers and jobs openings from companies across the world</p>
                        </div>
                        <p class="card-desc">Python is the language of the productive developer and it is in use everywhere, from Google to NASA. Being a Python Developer however is more than just knowing Python. Being a Python Developer means that you’re ready to tackle any challenge that may come your way; from data science projects and data crunching, to creating websites or writing automation scripts, Python Developers are ready to deliver the next project on time. </p>
                        <p class="card-desc">Compiled from the experience of Python Developers around the world, this Career Plan will give you the skills you need to cover every angle as a Python developer. </p> <a href="dashboard.html" class="btn btn-default disabled  pull-right"><i class="fa fa-refresh mr5"></i> Active Plan</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-12 col-lg-offset-1 col-lg-10 mt10">
                        <div class="skillcard-learning mt30 mb30">
                            <h5 class="mb25">Skill Cards in Plan:</h5>
                            <mapt-skill-card ng-repeat="card in mydata.me.plan.cards" data-card-title="{{card.title}}" data-description="{{card.desc}}" data-related-topic="{{card.topic}}" data-icon="{{card.icon}}" data-completed="{{card.completed}}">
                                <mapt-book ng-repeat="book in card.books" data-book-title="{{book.title}}" data-cover-image="{{book.cover}}" data-progress="{{book.progress}}"></mapt-book>
                            </mapt-skill-card>
                        </div>
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- /#book-wrapper -->
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- JAVASCRIPT BLOCKS -->
    <!-- jQuery Script-->
    <script src="js/jquery.js"></script>
    <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
    <script src="js/custom-angular.js"></script>
    <!-- Syntax Highlighting Script -->
    <script src="js/prism.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Sidebar Toggle Script -->
    <script src="js/simple-sidebar.js"></script>
    <script src="js/sidenav-accordion.js"></script>
</body>

</html>